@import url('https://fonts.googleapis.com/css2?family=K2D&family=Kanit:wght@700&display=swap');

.q5t9r1 {
    font-family: "Kanit", serif;
    font-size: 25px;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 10px;
    justify-content: justify;
}

.x7f3k9 p {
    font-family: "K2D", serif;
    font-size: 18px;
    padding: 2px;
    color: black;    
    justify-content: justify;
}

.x7f3k9 {
    padding: 30px;
}

.j8k4d7 {
    width: 300px;
    float: left;
    height: 180px;
    background-color: gray;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid gray;
}   

.n6f2p3 {
    width: 300px;
    float: right;
    height: 180px;
    background-color: gray;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid gray;
}   

@media (max-width: 850px) {
    .x7f3k9 p {
        text-align: justify;
    }
    .p2m8n4 {
        height: 80px;
    }
    
.n6f2p3 {
    width: 100%;
    float: none;
    height: 180px;
    background-color: gray;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
}   
    
.j8k4d7 {
    width: 100%;
    float: none;
    height: 180px;
    background-color: gray;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
}   
}