@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.lkjhContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: justify;
    font-family: "Kanit", serif;
}
#boldHeading{
    font-weight: 900;
}
ul{
    padding-left: 20px;
}

h2{
       font-family: "Kanit", serif;
    font-weight: 900;
    font-size: 30px;

}
.navWrapper .navItems {
    padding-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navWrapper {
    width: 100%;
    height: 60px;
    text-align: right;
    align-items: center;
    justify-content: center;
}
ol li .poiuList{
    margin-top: 5px;
    margin-bottom: 15px;
}

.lkjhContainer p{
    font-weight: 200;
    color: #111111;
    font-family: "K2D", sans-serif;
}

.ytreList {
    list-style-type: disc;
    margin-left: 20px;
}

@media(max-width:900px){
    #mnbv{
        height: 100px;
    }
    .lkjhContainer {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    text-align: justify;
    font-family: "Kanit", serif;
}

h2{
      font-family: "Kanit", sans-serif;
}
.navWrapper .navItems {
    padding-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navWrapper {
    width: 100%;
    height: 60px;
    text-align: right;
    align-items: center;
    justify-content: center;
}
ol li .poiuList{
    margin-top: 5px;
    margin-bottom: 15px;
}

.lkjhContainer p{
    font-weight: 200;
    color: #111111;
    font-family: "K2D", sans-serif;
}
}