@import url('https://fonts.googleapis.com/css2?family=K2D&family=Kanit:wght@700&display=swap');

#Image_Decoding_Container{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}

#Image_Decoding_Container h1{
    font-family: "Kanit", serif;
    font-weight: 900;
}
#imageTab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#imageTab img{
    background-color: #ededed;
    padding: 2px;
    border-radius: 20px;
    height: 200px;
    margin: 0px;
}
#mergeImg{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#mergeImage{
    display: flex;
    flex-direction: row-reverse;
}
#mergeImage img{
    height: 200px;
    padding: 10px;
    background-color: #ededed;
    border-radius: 20px;
    margin: 0px;
}
#mergeImage #mergeContect{
    margin: 10px;
    
    margin: 0px;
}
#Image_Decoding_Container p{
    font-family: "K2D", serif;
    font-size: 18px;
    text-align: justify;
    margin: 10px;
}
#mergeImg img{
  height: 300px;
  border-radius: 20px;
  padding: 5px;
  background-color: #ededed;
}
/* #imageTab #certificate{
  height: 300px;
  background-color: #ededed;
} */
@media (max-width: 900px) {
  #Image_Decoding_Container {
    width: 98%;
    padding: 0 5px;
  }

  #imageTab {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  #extra{
    height: 80px;
  }
  #imageTab img {
    width: 90vw;
    max-width: 350px;
    height: auto;
    padding: 2px;
    margin-bottom: 10px;
  }

  #mergeImage {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
  }

  #mergeImage img {
    width: 90vw;
    max-width: 350px;
    height: auto;
    margin-bottom: 10px;
  }

  #mergeImage #mergeContect {
    margin: 10px 0;
    width: 100%;
  }

  #Image_Decoding_Container p {
    font-size: 16px;
    margin: 8px;
  }
}

@media (max-width: 600px) {
  #Image_Decoding_Container h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  #mergeImg{
    display: flex;
    flex-direction: column;
  }
  #Image_Decoding_Container p {
    font-size: 15px;
  }
}